<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestScriptLink2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="AvatarDBPM" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.217;PORT=1972;DATABASE=HMHCPMLIVE;UID=LIVE:ODBC;PWD=hotwire2011;" />
        <add name="AvatarDBCWS" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.217;PORT=1972;DATABASE=HMHCCWSLIVE;UID=LIVE:ODBC;PWD=hotwire2011;" />
        <add name="AvatarSQLContext" connectionString="Data Source=IT-NB3282\SQLEXPRESS;User Id=luivis7;Password=tinchai;initial catalog=AvatarDb"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
        <add key="SMTPServer" value="192.1.5.220" />
        <add key="SMTPPort" value="25" />
        <add key="FromEmailAuth" value="AvatarSupport@hendersonbehavioralhealth.org"/>
        <add key="PsychcareEmaiList" value="rkelly@hendersonbehavioralhealth.org,icandelaria@hendersonbehavioralhealth.org,lwein@hendersonbehavioralhealth.org" />
        <add key="UMBHEmailList" value="rkelly@hendersonbehavioralhealth.org,icandelaria@hendersonbehavioralhealth.org,lwein@hendersonbehavioralhealth.org" />
        <add key="SystemCode" value="LIVE" />
        <add key="Username" value="ODBC" />
        <add key="Password" value="hotwire2011" />
        <add key="ErrorsSender" value="AvatarSupport@hendersonbehavioralhealth.org"/>
        <add key="ErrorsRecipient" value="AvatarSupport@hendersonbehavioralhealth.org"/>
    </appSettings>
    <applicationSettings>
        <TestScriptLink2.Properties.Settings>
            <setting name="TestScriptLink2_DCIImport_DCIImport" serializeAs="String">
                <value>http://avtest:8972/csp/hmhcpmlive/WEBSVC.DCIImport.cls</value>
            </setting>
            <setting name="TestScriptLink2_ClientChargeInput_ClientChargeInput"
              serializeAs="String">
                <value>http://avtest:8972/csp/hmhcpmlive/WEBSVC.ClientChargeInput.cls</value>
            </setting>
        </TestScriptLink2.Properties.Settings>
    </applicationSettings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
</configuration>